.page-not-found{
  width: 600px;
  margin: 35px auto;
  box-shadow: 0 0 10px #f1f1f1;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;

  a{
    display: inline-block;
    margin-top: 15px;
    padding: 5px;
    color: black;

    &:hover{
      color: #808080;
    }
  }

  div{
    svg{
      height: 155px;
      width: 155px;
      stroke-width: 2;
    }
  }
  span{
    font-size: 45px;
  }
  div:last-child{
    height: 70px;
  }
}