.login-block{
  width: 600px;
  margin: 35px auto;
  box-shadow: 0 0 10px #f1f1f1;
  border-radius: 4px;
  font-size: 15px;

  .link-block{
    display: flex;
    justify-content: flex-end;

    a{
      margin: 10px;
      color: black;

      svg{
        height: 28px;
      }

      &:hover{
        color: #757575;
      }
    }
  }

  .form-block{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;
      label{
        padding: 5px 0;
      }

      input{
        height: 27px;
        width: 320px;
        margin-top: -15px;
        padding-left: 5px;
        font-size: 16px;
        border: 1px solid rgba(128, 128, 128, 1);
        border-radius: 3px;
      }
    }

    button{
      outline: none;
      background: transparent;
      border: 1px dashed rgba(128, 128, 128, 0.5);
      border-radius: 3px;
      height: 30px;
      margin-bottom: 15px;

      span{
        margin: 15px;
        font-weight: 600;
      }

      &:hover{
        border: 1px solid rgba(128, 128, 128, 1);
      }
    }
  }
  
  .message-info{
    font-size: 14px;
    margin: -10px 0 10px 0;
  }

  .info-error{
    color: red;
  }
  .info-success{
    color: green;
    text-align: center;
  }
}